{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "prettier"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        //"plugin:shopify/esnext"
        "prettier"
    ],
    "rules": {
        "no-console": 1, //0, 1-warning, 2-error
        "prettier/prettier": 2
    },
    "env": {
        "node": true
    }
}